@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");
* {
  margin: 0 auto;
  font-family: roboto;
}
li {
  display: inline;
  list-style: none;
  color: blacks;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
ul {
  word-spacing: 15px;
}
header {
  line-height: 100px;
  background-color: blueviolet;
  border: black solid 5px;
}
a {
  text-decoration: none;
}
img {
  display: flex;
}
table {
  display: inline-table;
  margin-left: auto;
}
.text {
  background: gray;
  border: 5px brown solid;
  border-bottom: 5px;
  margin: 30px;
}
.titles {
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
}
.titles:hover {
  background-color: pink;
  color: white;
}
